<div id="logo-margin"ng-controller="headerController">
    <a ui-sref="home"><img id="center" class="center-block" ng-src="{{image}}"/></a>
</div>

<div class="row">
    <div class="col-sm-12">
        <form role="form" ng-submit ="loginAdmin()" >

            <div class="form-group">

                <label for="adminID" class="biggerFont adminText" style="margin-left:40%">Admin ID:</label>
                <input type="text" id="inputBoxStyle2" class="form-control" id="adminID" style="margin-left:40%" ng-model= "adminID" placeholder="12345678 or abcdefg@email.com">
                <label for="adminPass" class="biggerFont adminText" style="margin-left:40%">Admin Password:</label>
                <input type="password" id="inputBoxStyle3" class="form-control" id="adminPass" ng-model="adminPass" style="margin-left:40%">
                <br />
                <button type="submit" class="submitButton" class="btn btn-default" style="margin-left:40%">Submit</button>

            </div>

        </form>
    </div>
</div>
