<div id="logo-margin"ng-controller="headerController">
    <a ui-sref="home"><img id="center" class="center-block" ng-src="{{image}}"/></a>
</div>
<div class="row">
    <div class="col-sm-12">
        <form role="form" class="centerObjects" ng-submit ="loginUser()" >
            <div class="form-group">
                <label for="checkin" class="biggerFont loggedInText">Enter your Student ID Number</label>
                <div class="centerObjects">
                    <input type="tel" maxlength="8" min="00000000" max="99999999" id="inputBoxStyle" class="form-control"
                           required="required" autofocus="autofocus" id="checkin" ng-model= "checkin" placeholder= "12345678"
                            pattern="[0-9]*">
                    <button type="submit" class="submitButton" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
