<head>
    <meta http-equiv="refresh" content="2;url=#/home"/>
</head>
<div id="logo-margin" ng-controller="headerController">
    <a ui-sref="home"><img class="center-block centerObjects" ng-src="{{image}}"/></a>
</div>
<div class="row centerObjects">
    <div class="loggedInText" ng-controller="loginController"> <span ng-model="name">{{name}}</span> has checked out!</div>

</div>
<!--<div>-->
    <!--<button type="submit" id="button2" ui-sref="home" class="home-btn btn btn-block">Return Home</button>-->
<!--</div>-->


