<div id="logo-margin" ng-controller="headerController">
    <a ui-sref="home"><img id="center" class="center-block" ng-src="{{image}}"/></a>
</div>
<div class="row">
    <div class="col-sm-12">
        <form role="form" ng-submit ="logoutUser()" >
            <div class="form-group">
                <label for="checkout" class="biggerFont loggedInText">Enter your Student ID Number</label>
                <input type="tel" min="00000000" max="99999999" maxlength="8" id="inputBoxStyle" class="form-control"
                       equired="required" autofocus="autofocus" id="checkout" ng-model= "checkout"
                       pattern="[0-9]*" placeholder= "12345678">

                <button type="submit" class="submitButton" class="btn btn-default">Submit</button>

            </div>
        </form>
    </div>
</div>
