<div class="modal-header">
    <h3>History of {{userData.name}}</h3>
    <label>Search: <input ng-model="searchText"></label>
</div>
<form>
    <div class="modal-body">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>No.</th>
                <!--<th>Name</th>-->
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Duration</th>
                <th>Option</th>
            </tr>
            </thead>
            <tr ng-repeat="u in userTime | filter:searchText">
                <td contenteditable="false" ng-click="selected.value=$index+1">{{$index + 1}}</td>
                <!--<td contenteditable="false">{{userData.name}}</td>-->
                <td contenteditable="false">{{u.checkin}}</td>
                <td contenteditable="false">{{u.checkout}}</td>
                <td >{{ {checkout: u.checkout, checkin: u.checkin} | duration }}</td>
                <td><button class="btn" ng-click="edit(u, $index)">Edit</button></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <!--<button class="btn" ng-click="remove()">Delete</button>-->
        <button class="btn btn-warning" ng-click="cancel()">Exit</button>
    </div>
</form>