<div id="logo-margin" ng-controller="headerController">
    <a ui-sref="home"><img id="center" class="center-block" ng-src="{{image}}"/></a>
</div>

<div class="row">

    <div class="col-sm-12">
        <div>
            <a ui-sref="CheckIn" id="button" class="btn btn-default btn-lg btn-block">Check In</a> <!-- user check in button -->
            <a ui-sref="CheckOut" id="button1" class="btn btn-default btn-lg btn-block">Check Out</a> <!-- user check out button -->
            <!--<a ui-sref="adminLogin" id="button2" class="btn btn-default btn-lg btn-block">Admin</a>-->
        </div>

    </div>
</div>