<div class="modal-header">
    <h3>Add New User</h3>
</div>
<form ng-submit="submit()">
    <div class="modal-body">
        <label>Name</label>
        <input type="text" ng-model="user.name" required/>
        <label>Student ID</label>
        <input type="text" ng-model="user.student_id" required/>
        <label>Email</label>
        <input type="text" ng-model="user.email" required/>
        <label>Admin&nbsp;
            <input type="checkbox"  ng-model="user.isAdmin"/>
        </label>
        <div ng-show="user.isAdmin">
            <label>Password</label>
            <input type="password" ng-model="user.password" />
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn primary-btn" value="Submit" />
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>