<div class="modal-header">
    <h3>History of {{userData.name}}: Edit No. {{selectedIndex+1}}</h3>
</div>
<form ng-submit="submit()">
    <div class="modal-body">
        <label>Checkin</label>
        <input type="text" ng-model="userTime.checkin"   required/>
        <label>Checkout</label>
        <input type="text" ng-model="userTime.checkout" required/>

    </div>
    <div class="modal-footer">
        <input type="submit" class="btn primary-btn" value="Submit"/>
        <button class="btn btn-warning" ng-click="reloadView(); cancel();">Cancel</button>
    </div>
</form>