#button {
    height: 125px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 18px 28px;
    font-size: 40px;
    text-align: center;
    line-height: 90px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 30px;
}

#button1 {
    height: 125px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 18px 28px;
    font-size: 40px;
    text-align: center;
    line-height: 90px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 30px;
}

#button2 {
    padding: 18px 28px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/*.centered-block {*/
    /*border: solid;*/
    /*width: 250px;*/
    /*margin: 0 auto;*/

/*}*/
#center {
    display: block;
    margin-left: auto;
    margin-right: auto

}

#inputBoxStyle {
    height: 85px;
    width: 30%;
    font-size: 16pt;
    margin-left: 27%;
}

#inputBoxStyle1 {
    height: 85px;
    width: 30%;
    font-size: 16pt;
}

#inputBoxStyle2 {
    height: 80px;
    width: 30%;
    font-size: 16pt;
    margin-left: 15%;
}

#inputBoxStyle3 {
    height: 80px;
    width: 30%;
    font-size: 16pt;
    margin-left: 15%;
}

.biggerFont {
    font-size: 20pt;
}

.submitButton {
    padding: 18px 28px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left: 5px;
}

#logo-margin {
    margin-bottom: 5%;
}

/* Admin Nav */
#adminLogin {
    background-color: #3e3f3a;
    color: #fff;
}

h1 {
    text-align: center;
}

.viewUserModal{
    width: inherit!important;
    margin-left: -450px!important;
}

label{
    margin-top: 5px!important;
    margin-bottom: 0!important;
}

.centerObjects{
    margin: 0 auto;
    display: block;
}

.loggedInText{
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.row{
    margin-left: auto!important;
}

.home-btn{
    width:80%!important;
    margin: auto;
}
.adminText{
    margin-left: 15%;
    padding-bottom: 5px;
}

.nav-bar{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:20px;
    padding-bottom: 20px;
}